body {
    background-color: #d6e6d7;
    color: rgb(87, 79, 79);
 font-family: "Protest Guerrilla", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #64A712;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
